*{
    /*border: 1px solid black;*/
    position: relative;
}

body{
    background-color: #f3f3f3;
}

.block{
    width: 1100px;
    height: 180px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0); 
    color: rgba(255, 255, 255, 1);
    /*border: 1px solid black;*/
    overflow: hidden;
    z-index: 1;
}

.block2{
    width: 560px;
    height: 180px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0); 
    color: rgba(255, 255, 255, 1);
    /*border: 1px solid black;*/
    overflow: hidden;
    z-index: 1;
}

.tmp{
    left: 15%;
    display: inline-block;
    margin-top: 10px;
}

#dm span{
    position: absolute;
    font-family: 微軟正黑體;
    font-size: 30px; 
}

.recepie, .contents, .pic{
    display: inline-block;
}

#content{
    font-family: 微軟正黑體;
    font-size: 20px;
    text-align: center;
}

#no{
     font-family: 微軟正黑體;
    font-size: 30px;
    margin-left: 40%;
}
